/*body style
**************************/
body{
	margin-top: 70px;
	font-size: 16px;
	
}
/*  Main Content Div Background color
******************************/
.contentDiv{	
	background-color: #999999;
}
/* Page Heading style
****************************/
.mainHeading{
	line-height: 60px;
}

.navbar-collapse li{
	font-weight: bold;
	border: 1px solid #999999;
}
		
 /* Small devices only 
 *************************************/
@media (min-width: 768px) and (max-width: 991px) {
	
.contentDiv{
			 margin-left: 30px;
			 margin-right: 30px;
		}
}

/* Extra small devices only 
*************************************************/
@media (max-width: 767px) {
    .contentDiv{
			 margin-left: 30px;
			 margin-right: 30px;
		}
		
		.navbar-nav{
			
			margin: 0 -15px;
		}
		
		.navbar {
            position: relative !important;
		}
		body{
	margin-top: 0;
	
     }
}
